.footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(41, 92, 135);
    color: #FAFAFA;
    display:flex;justify-content:center;align-items:center;
}

.footer .fluid-container {
	width: auto;
    max-width: 680px;
    padding: 0 15px;
    
    margin: 0 auto;
    text-align: center;
    
    /*display:flex;justify-content:center;align-items:center;*/
}

.footer .text {
	margin: 0;
	color: #BDBDBD;
}

.footer .links {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer .links li {
	display: inline-block;
	
	margin-right: 20px;
}

.footer .links li a {
	color: #FAFAFA;
}

.footer .links li a:hover {
	color: #E0E0E0;
}